.input-bar{
    width: 36vw;
    height: 25vh;
    background-color: #f4f4f4;
    margin-left: 28vw;
    margin-right: 25vw;
    border-radius: 10px;
}

.input-bar h1{
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    font-size: 3vw;
}

.input-bar input{
    width: 24vw;
    border: none;
    height: 25px;
    border-radius: 6px;
    margin-right: 10px;
    margin-left: 10px;
}

.input-bar button{
    background-color: rgb(0, 255, 145);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 28px;
    width: 60px;
    border-radius: 10px;
    border: none;
    color: black;
}

.checklist{
    width: 36vw;
    min-height: 10vh;
    background-color: white;
    margin-left: 28vw;
    margin-right: 25vw;
    border-radius: 10px;
}

.checklist h2{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 25px;
    padding-left: 25px;
}

.checklist li{
    list-style: none;
    min-width: 25vw;
    align-items: center;
    /* background-color: dimgrey; */
}



.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
  
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container input:checked ~ .checkmark:after {
    display: block;
}
  
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

li{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#clear-button{
    background-color: rgb(0, 255, 145);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 35px;
    min-width: 60px;
    border-radius: 10px;
    border: none;
    margin-left: 33vw;
    margin-top: 20px;
}